/* Author:      Ethan Ai 
   Course:      COMP 3612
   Date:        10/7/2023 

        ASG 1

    style sheet for page 2 (page2.html)
*/

@import url('styles/variables-palette-7.css');
main{
    background-color: var(--color-neutral-50);
    padding: 20px;
    padding-right: 45px;
    padding-bottom: 40px;
    margin-left: 35px;
    margin-bottom: 70px;
    width: 1200px;
    box-shadow: 0 0 5px grey;
    top: 30px;
    position: relative;
    z-index: 0;

}
h1{
    width: 1100px;
    background-color: var(--color-primary-1-800);
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 5px;
    margin-left: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 85px;
    position: absolute;   
    z-index: 1;
}
div.topbar{
    padding: 10px;
    background-color: var(--color-neutral-100);
    text-align: justify;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

div.midbar{
    padding: 10px;
    background-color: var(--color-neutral-100);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px; 
    margin-left: 20px;
    margin-bottom: 10px;

}
h2{
    background-color: var(--color-primary-1-600);
    font-size: 20px;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 0%;
    margin-right: 76px;
    

}
table{
    border-collapse: collapse;
  
}

td.sub{
    padding: 3px;    
    padding-left: 18px;
}
tr.toc{
    background-color: var(--color-primary-1-050);
}

button:focus{
    background-color: var(--color-primary-1-400);
    border-color:  var(--color-primary-1-400);
}
button.edit{
    background-color: var(--color-primary-1-400);
    border-color:  var(--color-primary-1-400);
}

td{
    padding: 20px;
}

div.botbar{
    padding: 10px;
    margin-left: 19px;
    background-color: var(--color-neutral-100);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button.subm{
    color:aliceblue;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px;
    background-color: var(--color-primary-1-400);
    border-color:  var(--color-primary-1-400);
}
input{
    margin: 3px;
    padding: 5px;
}

select{
    margin: 3px;
    padding: 5px;
}
tr.bordered{
    border-bottom: 1px solid rgb(114, 114, 9);
}
